@using Common
@using Website.Models
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@Url.Content("~/")">MVC Auctions</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                @foreach(Category category in ViewBag.Categories)
                {
                    <li>@Html.ActionLink(category.Name, "ByCategory", "Auctions", new { id = category.Key }, null)</li>
                }
                </ul>
            </div>
            <div class="pull-right">
                @Html.ActionLink("Sell item", "Index", "ListItem")
                    
                @if(!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Sign in", "Login", "Account")
                }
                else
                {
                    <span>[@User.Identity.Name]</span>
                }
            </div>
        </div>
    </div>
</div>
