@{
    ViewBag.Title = "Welcome";
}

<div class="hero-unit">
    <h1>MVC Auctions</h1>
    <p>Welcome to MVC Auctions - the coolest MVC website on the internet!</p>
</div>

<div class="row">
    @Html.Action("Featured")
</div>