@{
    ViewBag.Title = "Welcome to MVC Auctions";
}

<div class="hero-unit">
    <p>Welcome to MVC Auctions - the coolest and most informative ASP.NET MVC demo website evar!</p>
</div>

<div class="row">
    @Html.Action("Featured")
</div>