@using System.Collections
<div id="search" class="clearfix">
    <form action="@Url.Action("Index", "Auctions")" method="POST" class="form-search">
        <div class="input-append pull-right">
            <input name="query" type="text" value="@ViewBag.Query"
                   class="search-query" placeholder="Search" 
                   autocomplete="off" data-provide="typeahead"
                   data-bind="value: searchQuery"
                 />
            
            @{
                var categorySelections = new SelectList(
                        (IEnumerable) ViewBag.Categories,
                        "Id", "Name",
                        ViewBag.SelectedCategory as long?
                    );
            }
            @Html.DropDownList("category", categorySelections, "All Categories", new  { @class="span2" })
            

            <input class="btn" type="submit" value="Search" data-bind="click: search" />
        </div>
    </form>
</div>