@model dynamic

@{
    ViewBag.Title = "Welcome";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>The ultimate online auction experience</h1>
            </hgroup>
            <p>
                Welcome to MVC Auctions - the best online auction site ever!
                Take a look at the featured auctions below or search for something that you're interested in.
            </p>
        </div>
    </section>
}

<section id="featured-auctions">
    <h2>Featured Auctions</h2>
    <ul class="featured-auctions">
        @foreach(var auction in ViewBag.FeaturedAuctions)
        {
            <li class="auction">
                <img class="thumbnail" src="@auction.ThumbnailUrl" />
                <span class="title">@auction.Title</span>
                <span class="current-price">@auction.CurrentPrice</span>
            </li>
        }
    </ul>
</section>